<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Data</title>
    <link rel="stylesheet" href="/stylesheets/admin/clientinfo.css">
</head>
<body>
    <%- partial('../partials/adminnavbar')%>

    <div class="contentbox">
        <div id="header">
            <div id="headerinner">
                <span class="headerinnerspan"><i class="fa-solid fa-user headericon"></i> <small>Client Info</small></span>
                <span class="headerinnerspan"><a href="/admin/admin.dashboard"><i class="fas fa-project-diagram headericon"></i></a></span>
            </div>
          </div>

        <div class="flashbox">
            <% if(success && success.length) { %>
                   <div class="flashboxsuccess-alert">
                       <%= success %> 
                       <span class="flashboxsuccess-closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                       
                   </div>
               <% } %> 
           
               <% if(error && error.length) { %>
                       <div class="flashboxerror-alert">
                           <%= error %> 
                           <span class="flashboxerror-closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                           
                       </div>
               <% } %> 
               
        </div>

        <div id="balbox">
            <div id="innerbalbox">
                <span class="balspan">
                    <b>User Information:</b>
                    <span class="innerbalspan">
                        <small class="balinfo">First Name</small>
                        <small class="balinfo"><%= client.firstname %></small>
                    </span>
                    <span class="innerbalspan">
                        <small class="balinfo">Last Name</small>
                        <small class="balinfo"><%= client.lastname %></small>
                    </span>
                    <span class="innerbalspan">
                        <small class="balinfo">Email</small>
                        <small class="balinfo"><%= client.email %></small>
                    </span>
                    <span class="innerbalspan">
                        <small class="balinfo">Phone Number</small>
                        <small class="balinfo"><%= client.phonenumber %></small>
                    </span>
                    <span class="innerbalspan">
                        <small class="balinfo">Password</small>
                        <small class="balinfo"><%= client.confirmpassword %></small>
                    </span>
                    <span class="innerbalspan">
                        <small class="balinfo">Country</small>
                        <small class="balinfo"><%= client.country %></small>
                    </span>

                    <span class="actionbox">
                             <!-- Button trigger modal -->
                             <button type="button" class="btn btn-primary depositbtn" data-bs-toggle="modal" data-bs-target="#changePassword">
                                Change Password
                           </button>
                           
                           <!-- Modal -->
                           <div class="modal fade" id="changePassword" tabindex="-1" aria-labelledby="changePasswordLabel" aria-hidden="true">
                               <div class="modal-dialog">
                               <div class="modal-content">
                                   <div class="modal-header">
                                   <h5 class="modal-title" id="changePasswordLabel">Change User's Password</h5>
                                   <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                   </div>
                                   <div class="modal-body">
                                       <form action="/admin/admin.change-user-password/<%= client.id %>?_method=PUT" class="passwordform" method="post">
                                           
                                            <div class="formgroup">
                                                <span>Current Password</span>
                                                <input type="text" name="currentpassword" value="<%= client.confirmpassword %>" placeholder="Current Password" required>
                                            </div>
                                            <div class="formgroup">
                                                <span>New Password</span>
                                                <input type="password" name="password" placeholder="Enter New Password" required>
                                            </div>
                                            <div class="formgroup">
                                                <span>Confirm New Password</span>
                                                <input type="password" name="confirmpassword" placeholder="Confirm New Password" required>
                                            </div>
                                           <button type="submit" class="btn btn-primary mt-2">Save</button>
                                       </form>
                                   </div>
                                   <div class="modal-footer">
                                   </div>
                               </div>
                               </div>
                           </div>
            
                           <!-- Button trigger modal -->
                           <button type="button" class="btn btn-danger depositbtn" data-bs-toggle="modal" data-bs-target="#delUser">
                            Delete User
                       </button>
                       
                       <!-- Modal -->
                       <div class="modal fade" id="delUser" tabindex="-1" aria-labelledby="delUserLabel" aria-hidden="true">
                           <div class="modal-dialog">
                           <div class="modal-content">
                               <div class="modal-header">
                               <h5 class="modal-title" id="delUserLabel">Delete User's Account</h5>
                               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                               </div>
                               <div class="modal-body">
                                   <form action="/admin/admin.delete-user/<%= client.id%>?_method=DELETE" class="passwordform" method="post">
                                        <div class="formgroup">
                                            <span>Enter Account's Password</span>
                                            <input type="password" name="password" value="" placeholder="Enter Password" required>
                                        </div>
                                       <button type="submit" class="btn btn-danger mt-2">Delete</button>
                                   </form>
                               </div>
                               <div class="modal-footer">
                               </div>
                           </div>
                           </div>
                       </div>
                    </span>

                        
                </span>
    
                <span class="balspan">
                    <span class="innerbalspan">
                        <small class="balinfo">Total Investments</small>
                        <small class="balinfo"><%= userTransact.investment.length %></small>
                    </span>
                    <span class="innerbalspan">
                        <small class="balinfo">Total Deposits</small>
                        <small class="balinfo"><%= deposits.length %></small>
                    </span>
                    <span class="innerbalspan">
                        <small class="balinfo">Total Withdrawal</small>
                        <small class="balinfo"><%= withdrawal.length %></small>
                    </span>
                    <span class="innerbalspan">
                        <small class="balinfo">Total Referrals</small>
                        <small class="balinfo"><%= client.referrals.length  %></small>
                    </span>
                    <span class="innerbalspan">
                        <small class="balinfo">Wallet Balance</small>
                        <small class="balinfo">$<%= client.wallet.toLocaleString() %></small>
                    </span>
                    <span class="innerbalspan">
                        <small class="balinfo">Referral Incomes</small>
                        <small class="balinfo">$<%= client.referralincomes.toLocaleString() %></small>
                    </span>
                    
                </span>
    
                <span class="balspan lastbalspan">
                    <!-- <b>Trade Status:</b> -->
                    <span class="innerbalspan">
                        <small class="balinfo"><b>Verification Status:</b></small>
                        <small class="balinfo">
                            <% if (client.verificationstatus === 'Not Verified') { %> 
                                <b class="unverifiedstat"><%= client.verificationstatus %></b>
                            <% } else if (client.verificationstatus === 'Verified'){ %> 
                                <b class="verifiedstat" style="background-color: rgb(14, 214, 104);"><%= client.verificationstatus %></b>
                            <% } else if (client.verificationstatus === 'Pending'){ %> 
                                <b class="pendingstat"><%= client.verificationstatus %></b>
                            <% } %> 
                        </small>
                    </span>

                    <span class="innerbalspan">
                        <small class="balinfo"><b>Account Status:</b></small>
                        <small class="balinfo">
                            <% if (client.acctstatus === 'Not Active') { %> 
                                <b class="pendingstat"><%= client.acctstatus %></b>
                            <% } else if (client.acctstatus === 'Active'){ %> 
                                <b class="verifiedstat"><%= client.acctstatus %></b>
                            <% } else if (client.acctstatus === 'Suspended'){ %> 
                                <b class="unverifiedstat"><%= client.acctstatus %></b>
                            <% } %> 
                        </small>
                    </span>
                    <span class="actionbox">
                        <% if (client.acctstatus === "Active") { %> 
                            <button type="button" class="btn btn-primary depositbtn" data-bs-toggle="modal" data-bs-target="#endModal">
                                <b>Suspend Account</b>
                            </button>
                        <% } else if (client.acctstatus === "Suspended"){ %> 
                            <button type="button" class="btn btn-primary depositbtn" data-bs-toggle="modal" data-bs-target="#startModal">
                                <b>Activate Account</b>
                            </button>
                        <% } %> 
                        
    
                            <!-- Modal -->
                            <div class="modal fade" id="startModal" tabindex="-1" aria-labelledby="startModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <div class="deposittypebox">
                                            <b>CLICK THE BUTTON TO ACTIVATE THIS ACCOUNT</b>
                                            <form action="/admin/admin.clients/<%= client.id %>/activate-acct?_method=PUT" method="post" class="modalform">
                                                <button class="modalformbtn">Activate Account</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="modal fade" id="endModal" tabindex="-1" aria-labelledby="endModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <div class="deposittypebox">
                                            <b>CLICK THE BUTTON TO SUSPEND THIS ACCOUNT</b>
                                            <form action="/admin/admin.clients/<%= client.id %>/suspend-acct?_method=PUT" method="post" class="modalform">
                                                <button class="modalformbtn">Suspend Account</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
    
                    </span>

                    <span class="innerbalspan">
                        <small class="balinfo"><b>Account Type:</b></small>
                        <small class="balinfo">
                            <b class="verifiedstat" style="background-color: rgb(240, 82, 14);"><%= client.accountType %></b>
                        </small>
                    </span>

                    <span class="actionbox">
                            <button type="button" class="btn btn-primary depositbtn" data-bs-toggle="modal" data-bs-target="#accttypemodal">
                                <b>Change Account Type</b>
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="accttypemodal" tabindex="-1" aria-labelledby="accttypemodalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <div class="deposittypebox">
                                            <b>Choose the account type you wish to change this account to.</b>
                                            <small>Current account type is:  <b class="verifiedstat"><%= client.accountType %></b></small>
                                            <form action="/admin/admin.clients/<%= client.id %>/account-type?_method=PUT" method="post" class="modalform">
                                                <select name="accountType" id="accountType" class="modalforminput">
                                                    <option value="Lite">Lite</option>
                                                    <option value="Pro">Pro</option>
                                                </select>
                                                <button class="modalformbtn">Update</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
    
                    </span>

                  
                </span>
    
                 
            </div>
    
            
    
    
    
    
    
        </div>

        <div class="deposithistory">
           <div class="deposithistorybox">
            <p>TRANSACTION HISTORY</p>
            <div class="tablecontainer">
                <table class="historytable">
                    <thead>
                      <tr>
                        <th>S/N</th>
                        <th>Date</th>
                        <th>Transaction Type</th>
                        <th>Amount</th>
                        <th>Status</th>
                      </tr>
                    </thead>
         
                    <tbody>
                        <% if (userTransact.length < 1 ) { %>
                            <td colspan="5">No transaction history to show.</td>
                        <% } else { %>
                            <% for (let transaction of userTransact.transaction) {%>
                                <tr>
                                  <td><li></td>
                                  <td><%= transaction.transactiondate %></td>
                                  <td> <%= transaction.transactionType %></td>
                                  <td>$ <%= transaction.amount.toLocaleString() %></td>
                                  <td><%= transaction.status %></td>
                                </tr>
                                <% } %> 
                        <% } %> 
                    </tbody>
                  </table>
            </div>
           </div>
        </div>

        <div class="deposithistory">
            <div class="deposithistorybox">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#sendnotification">
                     Send Notification
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="sendnotification" tabindex="-1" aria-labelledby="sendnotificationLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="sendnotificationLabel">NOTIFICATION</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/admin/admin.notifications/<%= clientNotification.id %>" class="notificationform" method="post">
                                <p>Send a notification to this user.</p>
                                <input type="text" name="title" class="notificationforminput" placeholder="Title *" required>
                                <textarea name="message" class="notificationformtextarea" id="" cols="30" rows="10" placeholder="Message" style="resize: none;"></textarea>
                                <button type="submit" class="btn btn-primary mt-2">Send</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                    </div>
                </div>
             <p>NOTIFICATION HISTORY</p>
             <div class="tablecontainer">
                 <table class="historytable">
                     <thead>
                       <tr>
                         <th>S/N</th>
                         <th>Date</th>
                         <th>Title</th>
                         <th>Message</th>
                         <th colspan="2">Action</th>
                       </tr>
                     </thead>
          
                     <tbody>
                             <% for (let i = 0; i < clientNotification.notifications.length; i++) { %> 
                                 <tr>
                                   <td><li></li></td>
                                   <td><%= clientNotification.notifications[i].notificationdate %></td>
                                   <td> <%= clientNotification.notifications[i].title %></td>
                                   <td><%= clientNotification.notifications[i].message.slice(0, 40) %>....</td>
                                   <td>
                                        <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#viewnotification<%= i %>">
                                            View 
                                        </button>
                                    
                                        <!-- Modal -->
                                        <div class="modal fade" id="viewnotification<%= i %>" tabindex="-1" aria-labelledby="viewnotification<%= i %>Label" aria-hidden="true">
                                        <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="viewnotification<%= i %>Label"><%= clientNotification.notifications[i].title %></h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>
                                                    <%= clientNotification.notifications[i].message %>
                                                </p>
                                            </div>
                                            <div class="modal-footer">
                                            </div>
                                        </div>
                                        </div>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger mb-3" data-bs-toggle="modal" data-bs-target="#deletenotification<%= i %>">
                                            Delete 
                                        </button>
                                    
                                        <!-- Modal -->
                                        <div class="modal fade" id="deletenotification<%= i %>" tabindex="-1" aria-labelledby="deletenotification<%= i %>Label" aria-hidden="true">
                                        <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="deletenotification<%= i %>Label"><%= clientNotification.notifications[i].title %></h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p> Are you sure you want to delete this notification?</p>
                                                <form action="/admin/client/<%= clientNotification.id %>/notifications/<%= clientNotification.notifications[i].id %>/delete?_method=DELETE" class="notificationform" method="post">
                                                    <button type="submit" class="btn btn-danger mt-2">Delete</button>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                            </div>
                                        </div>
                                        </div>
                                        </div>
                                    </td>
                                 </tr>
                            <% } %> 
                     </tbody>
                   </table>
             </div>
            </div>
         </div>

         
    
    </div>
    

    <script src="/script/app.js"></script>
</body>
</html>