<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/stylesheets/admin/dashboard.css">
    
</head>
<body>
    <%- include('../partials/adminnavbar')%>
  <div class="contentbox">
    <div id="btcwidget">
        <%- include('../partials/darkbtcwidget')%>
    </div>

    <div id="header">
        <div id="headerinner">
            <span class="headerinnerspan"> <small>Dashboard</small></span>
            <span class="headerinnerspan"><a href="/dashboard"><i class="fas fa-project-diagram headericon"></i></a></span>
        </div>
    </div>


    <div class="flashbox">
        <% if(success && success.length) { %>
               <div class="flashboxsuccess-alert">
                   <%= success %> 
                   <span class="flashboxsuccess-closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                   
               </div>
           <% } %> 
       
           <% if(error && error.length) { %>
                   <div class="flashboxerror-alert">
                       <%= error %> 
                       <span class="flashboxerror-closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                       
                   </div>
           <% } %> 
           
    </div>

    <div class="notificationcontainer">
        <div class="innernotificationcontainer">
            <% if (verificationrequest.length > 0) { %> 
                <span class="notification">
                    <a href="/admin/admin.verificationrequests">You have <%= verificationrequest.length %> new verification request(s).</a>
                </span>
            <% } %>

            <% if (deposits.length > 0) { %> 
                <span class="notification">
                   <a href="/admin/admin.deposit-req"> You have <%= deposits.length %> new deposit request(s).</a>
                </span>
            <% } %>

            <% if (withdrawals.length > 0) { %> 
                <span class="notification">
                    <a href="/admin/admin.withdrawal-req">You have <%= withdrawals.length %> new withdrawal request(s).</a>
                </span>
            <% } %>
        </div>
    </div>

    <div id="overviewbox">
        <div class="overviewinnerbox">
            <div class="overviewboxes bgGreen">
                <i class="fa-solid fa-user"></i>
                <div class="inneroverviewboxes">
                    <span><%= admins.length %></span>
                    <small>Active Admin Accounts</small>
                </div>
            </div>

            <div class="overviewboxes bgOrangeRed">
                <i class="fa-solid fa-users"></i>
                <div class="inneroverviewboxes">
                    <span><%= clients.length %> </span>
                    <a href="/admin/admin.clients">Client Accounts</a>
                </div>
            </div>

            <div class="overviewboxes bgBlue">
                <i class="fa-solid fa-line-chart"></i>
                <div class="inneroverviewboxes">
                    <span><%= Investments.length %></span>
                <a href="/admin/admin.investment">Active Investments</a>
                </div>
            </div>

            <div class="overviewboxes bgRed">
                <i class="fas fa-check-circle"></i>
                <div class="inneroverviewboxes">
                    <p><%= verificationrequest.length %> </p>
                    <a href="/admin/admin.verificationrequests">Verification Requests</a>
                </div>
            </div>

            <div class="overviewboxes bgDogeBlue">
                <i class="fa-solid fa-money-bill-transfer"></i>
                <div class="inneroverviewboxes">
                    <span><%= deposits.length %> </span>
                <a href="/admin/admin.deposit-req">Deposit Requests</a>
                </div>
            </div>

            <div class="overviewboxes bgOrange">
                <i class="fas fa-wallet"></i>
                <div class="inneroverviewboxes">
                    <span><%= withdrawals.length %> </span>
                    <a href="/admin/admin.withdrawal-req">Withdrawal Requests</a>
                </div>
            </div>
        </div>
    </div>


    <div id="cryptowidget">
        <%- include('../partials/currencywidget')%>
    </div>
  </div>
    

  <script src="/script/app.js"></script>
</body>
</html>