<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clients</title>
    <link rel="stylesheet" href="/stylesheets/admin/deposit.css">
</head>
<body>
    <%- include('../partials/adminnavbar')%>

    <div class="contentbox">

        <div id="header">
            <div id="headerinner">
                <span class="headerinnerspan"><i class="fa-solid fa-money-bill-transfer headericon"></i> <small>Clients</small></span>
                <span class="headerinnerspan"><a href="/admin/admin.dashboard"><i class="fas fa-project-diagram headericon"></i></a></span>
            </div>
          </div>

        <div class="flashbox">
            <% if(success && success.length) { %>
                   <div class="flashboxsuccess-alert">
                       <%= success %> 
                       <span class="flashboxsuccess-closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                       
                   </div>
               <% } %> 
           
               <% if(error && error.length) { %>
                       <div class="flashboxerror-alert">
                           <%= error %> 
                           <span class="flashboxerror-closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                           
                       </div>
               <% } %> 
               
        </div>

        <div id="div2">
            <div id="div2box">
                <p>Number of Registered Users: <%= clients.length %> </p>
                <form action="/admin/admin.clients/findUser" method="post" id="searchform" class="d-flex">
                    <input class="form-control me-2 border-primary" type="email" name="findUser" placeholder="Search Email" aria-label="Search" required>
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </div>
        </div>

        <div id="deposithistory">
           <div id="deposithistorybox">
            <p>MASS DELETE USERS</p>
            <form id="tablecontainer" action="/admin/admin.deleteusers" method="post">
                <table id="historytable">
                    <thead>
                        <tr>
                          <th>#</th>
                          <th>Name</th>
                          <th>Email</th>
                          <th>V Status</th>
                          <th>Check</th>
                        </tr>
                      </thead>
          
                      <tbody>
                        <% for (let i = 0; i < clients.length; i++) { %> 
                          <tr>
                            <td><%= [i+1] %> </td>
                            <td><%= clients[i].firstname %> <%= clients[i].lastname %></td>
                            <td><%= clients[i].email %></td>
                            <td><%= clients[i].verificationstatus %></td>
                            <td><input type="checkbox" name="selectedUsers" value="<%= clients[i]._id %>"></td>
                          </tr>
                          <% } %> 
                      </tbody>

                      <button type="submit" class="btn btn-primary">Delete Selected Users</button>
                  </table>
            </form>
           </div>
        </div>

        
    
    </div>
    

    <script src="/script/app.js"></script>
</body>
</html>