<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification Requests</title>
    <link rel="stylesheet" href="/stylesheets/admin/deposithistory.css">
</head>
<body>
    <%- include('../partials/adminnavbar')%>

    <div class="contentbox">
      <div id="header">
        <div id="headerinner">
            <span class="headerinnerspan"><i class="fa-solid fa-money-bill-transfer headericon"></i> <small>Verification Requests</small></span>
            <span class="headerinnerspan"><a href="/admin/admin.dashboard"><i class="fas fa-project-diagram headericon"></i></a></span>
        </div>
      </div>

        <div class="flashbox">
          <% if(success && success.length) { %>
                 <div class="flashboxsuccess-alert">
                     <%= success %> 
                     <span class="flashboxsuccess-closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                     
                 </div>
             <% } %> 
         
             <% if(error && error.length) { %>
                     <div class="flashboxerror-alert">
                         <%= error %> 
                         <span class="flashboxerror-closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                         
                     </div>
             <% } %> 
             
      </div>

        <div class="deposithistory">
           <div class="deposithistorybox">
            <p>VERIFICATION REQUESTS </p>
            
                
            <div class="tablecontainer">
                <table class="historytable">
                    <thead>
                        <tr>
                          <th></th>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Document Type</th>
                          <th>Document</th>
                          <th>Action</th>
                        </tr>
                      </thead>
          
                      <tbody>
                        <% if (clients.length > 0) { %> 
                        <% for (let users of clients ) { %>
                        <% if ( users.verificationstatus === 'Pending')  { %>
                          <tr>
                            <td><li></td>
                            <td><%= users.firstname %> <%= users.lastname %></td>
                            <td><%= users.email %></td>
                            <td><%= users.documenttype %></td>
                            <td>
                                <% for (let img of users.verificationdocument) { %> 
                                  <img src="<%= img.url %> " class="images" alt="">
                                <% } %> 
                              </td>
                            <td>
                                <form action="/admin/admin.verificationrequests/<%= users.id %>?_method=PUT" method="post" id="verifyform">
                                    <button type="submit" class="btn btn-success" id="verifyformbutton">Verify</button>
                                </form>
                            </td>
                          </tr>
                        <% } %> 
                        <% } %> 
                        <% } else { %> 
                          <td colspan="6">There is no pending verification request at the moment.</td>
                        <% } %> 
                      </tbody>
                  </table>
            </div>

             
           </div>
        </div>
    
    </div>
    

    <script src="/script/app.js"></script>
</body>
</html>